.stage {
    position: relative;
    margin: 30px auto 0;
    width: 1035px;
    height: 805px;
    background: url(../img/background.png);    
}

.box {
    position: absolute;
    width: 115px;
    height: 115px;
    background: #ccc;
}

.box-zoom {
    width: 1035px;
    height: 805px;
    left: 0 !important;
    top: 0 !important;
    z-index: 10000000;
}

.gamer {
    position: absolute;
    z-index: 100000;
    left: -115px;
    -webkit-transition-duration: .40s;
    -webkit-transition-timing-function: linear;    
}

.gamer div {
    margin-top: -10px;
    width: 115px;
    height: 115px;
    background: transparent url(../img/sprites-spearboy.png) no-repeat;
}